<section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
    <div class="w-100">
        <h2 class="mb-5">Experiences</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">.Net Core Trainee</h3>
                <div class="subheading mb-3">Alibaba Travels Co Academy</div>
                <p>
                    ...
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Dec 2019 — Present</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Web Developer(Front-End)</h3>
                <div class="subheading mb-3">Sneeds</div>
                <p>
                    Work as a web developer using front-end technologies like html,css,bootstrap,javascript and related frameworks like
                    vue.js and php(as wordpress),We are developing scalable, maintainable cross platform web application using
                    Vue.js/Nuxt.js
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Dec 2017 — Nov 2019</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Web Developer</h3>
                <div class="subheading mb-3">Webkandoo</div>
                <p>
                    Work as a web developer using front-end technologies like html,css,bootstrap,javascript and jQuery and back-end
                    with php(as wordpress)
                </p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">December 2017 - Jun 2018</span>
            </div>
        </div>

    </div>

</section>