<section class="resume-section p-3 p-lg-5 d-flex justify-content-flex-start flex-column">
    <p>Language Proficiency :</p>
    <ul>
        <li>Farsi/Persian( Native ), English ( Fluent for work ), Arabic( Basic )</li>
    </ul>

    <p>Programming Languages :</p>
    <ul>
        <li>Intermediate skill at programming with JAVA, Basic Academic knowledge of C/C++ and Python</li>
    </ul>

    <p>Web Development :</p>
    <ul>
        <li>Intermediate skill at Front-End technologies asHTML/HTML5, CSS/CSS3, Bootstrap and core Javascript</li>
        <li>Intermediate skill at developing web application's using Vue.js/Nuxt.js</li>
        <li>Intermediate skill at using JSON in web apps.</li>
        <li>Intermediate skill at creating websites with wordpress</li>
        <li>
            Familiar with MVC, MVVM and Repository patterns.
        </li>
        <li>Familiar with Webpack bundler.</li><li>Familiar with javascript front-end framework React.js.</li><li>Familiar with PHP, JSP, Node.js(Express) back-end technologies and did small personal projects.</li>
    </ul>

    <p>Database :</p>
    <ul>
        <li>Familiar with MySQL which i used in multiple simple personal projects</li>
    </ul>
</section>