<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
    <div class="w-100">
        <h1 class="mb-0">
            Hadi
            <span class="text-primary">Tabatabaei</span>
        </h1>
        <div class="subheading mb-5">
            Amirkabir University of Technology
            <a href="hadi.tabatabaei.aut@gmail.com">hadi.tabatabaei.aut@gmail.com</a>
        </div>
        <p class="lead mb-5">
            Interested in web development fields written below:
            Developing scalable maintainable responsive cross platform web applications's using javascript frameworks such as Vue.js/Nuxt.js, Core Web Development technologies in both front-end and back-end, User Experience and User Interface concepts, OOP programming with java.
            I'm enthusiastic to learn new things and looking forward to challenges and i definitely have respect for people's diversity.
        </p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/hadi-tabatabaei-0b71a1172/" target="_blank">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a href="https://github.com/haditabatabaei" target="_blank">
                <i class="fab fa-github"></i>
            </a>
        </div>
    </div>
</section>