<section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
    <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="resume-content">
                <h3 class="mb-0">Amirkabir University of Technology</h3>
                <div class="subheading mb-3">B.S of Computer Engineering</div>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Sep 2017 - Sep 2021 (Expected)</span>
            </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
            <div class="resume-content">
                <h3 class="mb-0">Salam Tajrish High School</h3>
                <div class="subheading mb-3"></div>
                <p>GPA : 19.61 / 20</p>
            </div>
            <div class="resume-date text-md-right">
                <span class="text-primary">Sep 2013 - Aug 2017</span>
            </div>
        </div>

    </div>
</section>